/* Website Styles */
* {
  font-size: 100%;
}
body {
  background-color: LightGrey;
  color: Black;
  font-family: 'Impact', Georgia, serif ;
  font-size: 14px;
}
h1 {
  color: red;
  font-size: 48px;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
}
/* h1 { */
  /* font-weight: bold; */
/* } */
h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
}
p {
  line-height: 2;
}
h1 {
  text-align: left;
}
header h1 {
  text-align: center;
}
section li a {
  color: red;
}
